.blogs {
  padding-top: 88px;
  padding-bottom: 80px;
}

.blogs-container {
  width: 1170px;
}

.blogs-title {
  margin-bottom: 23px;
  line-height: calc(38 / 32);
  text-align: center;
}

.blogs-text {
  margin-top: 0;
  margin-bottom: 70px;
  font-size: 18px;
  line-height: 1.36;

  text-align: center;

  color: $mainColor;
}

.blog-card {
  display: flex;
  margin-bottom: 40px;

  background-color: $blackBg;
}

.blog-right-part {
  width: 570px;
  padding-top: 64px;
  padding-bottom: 48px;
  padding-left: 78px;
}

.blog-text {
  margin-bottom: 27px;

  font-size: 14px;
  line-height: 1.4;
  color: $whiteColor;
}

.blog-title {
  margin-bottom: 60px;

  @include fonts(48px, 400, 58px, $whiteColor);
}

.blog-link {
  font-size: 18px;
  line-height: 1.4;
  color: $whiteColor;
}
