.cta-section {
  padding-top: 80px;
  padding-bottom: 70px;

  background-color: $accentColor;
}

.cta-container {
  width: 1170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cta-title {
  margin: 0;
  font-size: 32px;
  font-weight:bold;
  line-height: 1.41;
  color: $mainColor;
}

.sign-up {
  margin: 0;
  font-size: 32px;
  line-height: 1.41;
  color: $mainColor;
}
.cta-btns {
  display: flex;
  align-items: center;
}

.btn-left {
  @extend %btn;
  min-height: 50px;
  color: $whiteColor;
  background-color: $blackBg;
  border: 1px solid $mainColor;

  &:hover,
  &:focus{
    color: $accentColor;
    background-color: $grayBg;
    border: 1px solid $mainColor;
  }
}

.btn-right {
  @extend %btn;
  min-height: 50px;
  color: $mainColor;
  border: 1px solid $mainColor;

  &:hover,
  &:focus {
    color: $accentColor;
    background-color: $grayBg;
    border: 1px solid $mainColor;
  }
}

.cta-btns-item:not(:last-child) {
  margin-right: 16px;
}
