.footer {
  padding-top: 106px;
  padding-bottom: 35px;

  background-color: $cardBg;
}

.upper-footer {
  padding-bottom: 38px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 56px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 1000px;

  border-bottom: 1px solid #000000;
}

.footer__links-list {
  display: flex;
}

.left-links__item {
  margin-right: 81px;
}

.right-links__item {
  margin-right: 54px;
}

.left-links__item:last-child,
.right-links__item:last-child {
  margin-right: 0;
}

.logo-in-footer {
  margin-left: 141px;
  margin-right: 141px;
  padding-top: 6px;
  padding-bottom: 5px;

  font-family: 'Homemade Apple';
  font-size: 18px;
  line-height: 2.17;
  text-align: center;
  color: $accentColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $mainColor;
    transform: translateY(-5px) scale(1.15);
  }
}

.menu-footer__link {
  padding-top: 14px;
  padding-bottom: 14px;

  text-transform: capitalize;
  font-size: 14px;
  line-height: calc(20 / 14);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accentColor;
    transform: translateY(-5px) scale(1.15);
  }
}

.social-icon {
  display: flex;
  fill: currentColor;
}

.footer-icon-wrapper {
  margin-bottom: 73px;
}

.list-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-item-icon:not(:last-child) {
  margin-right: 25px;
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #000000;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  stroke: #f7941e;
}

.lower-footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;

  font-family: 'Roboto';
  font-size: 14px;
  line-height: 140.62%;
  text-align: center;

  background-color: $cardBg;
}

.copyrigth {
  margin-right: 14px;
}
