.hero-section {
  background-color: $grayBg;
}

.hero-container {
  display: flex;
}

.hero-left-part {
  flex-basis: 50%;
  padding-left: 162px;
  padding-right: 126px;
  padding-top: 154px;
  padding-bottom: 135px;
}

.hero-title {
  margin-bottom: 36px;
  @include fonts(56px, 600, 69px, $mainColor);
}

.hero-text {
  margin-bottom: 52px;
  color: $mainColor;
}

.hero-button {
  @extend %btn;
    color: $whiteColor;
    background-color: $accentColor;
}

.hero-button:hover,
.hero-button:focus {
  color: $accentColor;
  background-color: $whiteColor;
}

.image-aside {
  flex-basis: 50%;
}
