.work-section {
  background-color: $grayBg;
}

.work-container {
  display: flex;
  align-items: center;
}
.work-content {
  flex-basis: 50%;
  padding: 162px 166px 102px 112px;
}

.work-text {
  margin-top: 23px;
  margin-bottom: 35px;
}
.work-button {
  padding: 21px 47px;
  color: $accentColor;

  border: 1px solid $accentColor;
  background-color: transparent;
  border-radius: 5px;

  text-transform: uppercase;
  font-size: 18px;

  cursor: pointer;
}
.work-button:hover,
.work-button:focus {
  background-color: $blackBg;
  color: $whiteColor;

  border-color: $blackBg;
}

.image-aside {
  flex-basis: 50%;
}
