.work-section {
  background-color: $grayBg;
}

.work-container {
  display: flex;
  align-items: center;
}
.work-content {
  flex-basis: 50%;
  padding: 162px 166px 102px 112px;
}

.work-text {
  margin-top: 23px;
  margin-bottom: 35px;
}
.work-button {
@extend %btn;
}

.image-aside {
  flex-basis: 50%;
}
