/*Иконки социальных сетей*/
.social-icon {
  display: flex;
  fill: currentColor;
}

.footer-icon-wrapper {
  padding-top: 56px; 
  padding-bottom: 73px;
  background-color: $cardBg;
}
.list-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 25px;
}
.footer-item-icon:not(:last-child) {
  margin-right: 25px;
}

.footer-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #000000;
}

.footer-link-icon:hover,
.footer-link-icon:focus {
  stroke: #F7941E;
}
.lower-footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 35;
  font-family: 'Gilroy';
  font-size: 14px;
  line-height: 140.62%;
  text-align: center;
  background-color: $cardBg;
}
.copyrigth{
  margin-right: 14px;
}
