.footer {
  background-color: $cardBg;
}

.upper-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 38px;
}

.links-in-footer {
  display: flex;

  text-transform: capitalize;
  font-size: 14px;
  line-height: 1.4286;
}

.left-links > li {
  margin-right: 81px;
}

.right-links > li {
  margin-right: 54px;
}

.left-links > li:last-child,
.right-links > li:last-child {
  margin-right: 0;
}

.logo-in-footer {
  margin-left: 141px;
  margin-right: 141px;
  padding-top: 6px;
  padding-bottom: 5px;

  font-family: 'Homemade Apple';
  font-size: 18px;
  line-height: 2.17;
  text-align: center;
  color: $accentColor;
}

.menu-link-in-footer {
  padding-top: 14px;
  padding-bottom: 14px;
}

hr {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;

  size: 1px;
  color: #000000;
  width: 69.4444%;
}
