<section class="blogs">
    <div class="blogs-container">
        <h2 class="blogs-title">
             Our Best Blogs Ever
        </h2>
        <p class="blogs-text">
            “Try our blog to find the best tips and tricks to select your gift”
        </p>
        <ul class="blogs-list">
            <li class="blog-list-item">
                <img src="/src/images/media.jpg" alt="" width="400px">
                <div class="blog-item-right-part">
                    <p class="blog-item-text">Mr. John Doe</p>
                    <h3 class="blog-item-title">The best way to wish your wife</h3>
                        <a href="" class="blog-item-link">Read More</a>
                </div>
            </li>
        </ul>
    </div>
    
</section>