<section class="container">
  <ul class="blogs-list list">
    <li class="blogs-item">
      <h2 class="title">Database to find the gifts for your<br />girlfriend</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore...
      </p>
      <a class="link">Read More</a>
    </li>
    <li class="blogs-item">
      <h2 class="title">
        How Artificial Intelligence read your mind<br />to find the best gift
      </h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore...
      </p>
      <a class="link">Read More</a>
    </li>
  </ul>
</section>
