<section class="blogs">
    <div class="blogs-container">
        <h2 class="blogs-title">
             Our Best Blogs Ever
        </h2>
        <p class="blogs-text">
            “Try our blog to find the best tips and tricks to select your gift”
        </p>
        <div>
            <img src="/src/images/media.jpg" alt="" width="400px">
            <div class="blog-right-part">
               <p class="blog-text">Mr. John Doe</p>
               <h3 class="blog-title">The best way to wish your wife</h3>
                <a href="" class="blog-link">Read More</a>
            </div>
        </div>
    </div>
    
</section>