<section class="blogs">
  <div class="container blogs-container">
    <h2 class="blogs-title">Our Best Blogs Ever</h2>
    <p class="blogs-text">
      “Try our blog to find the best tips and tricks to select your gift”
    </p>
    <div class="blog-card">
      <img src="./images/blog.jpg" alt="Happy pair" width="400" />
      <div class="blog-right-part">
        <p class="blog-text">Mr. John Doe</p>
        <h3 class="blog-title">The best way to wish your wife</h3>
        <a href="" class="blog-link">Read More</a>
      </div>
    </div>
    <ul class="blogs-list list">
      <li class="blogs-item">
        <h2 class="title">
          Database to find the gifts for your<br />girlfriend
        </h2>
        <p class="text text--small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore...
        </p>
        <a class="link">Read More</a>
      </li>
      <li class="blogs-item">
        <h2 class="title">
          How Artificial Intelligence read your mind<br />to find the best gift
        </h2>
        <p class="text text--small">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore...
        </p>
        <a class="link">Read More</a>
      </li>
    </ul>
  </div>
</section>
