<section class="cta-section">
  <div class="container cta-container">
    <div
      class="text"
      data-aos="fade-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="500"
    >
      <h2 class="cta-title">Ready to get started?</h2>
      <p class="sign-up">Sign up or contact us</p>
    </div>
    <ul class="cta-btns list">
      <li
        class="cta-btns-item"
        data-aos="fade-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="500"
      >
        <button type="button" class="btn-primary">Find gift now</button>
      </li>
      <li
        class="cta-btns-item"
        data-aos="fade-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="500"
      >
        <button type="button" class="btn-secondary">How it works</button>
      </li>
    </ul>
  </div>
</section>
