<section class="cta-section">
  <div class="container cta-container">
    <div class="text">
      <p class="cta-title">Ready to get started?</p>
      <p class="sign-up">Sign up or contact us</p>
    </div>
    <ul class="cta-btns list">
      <li class="cta-btns-item">
        <button type="button" class="btn-left" 
        data-aos="fade-down">Find gift now</button>
      </li>
      <li class="cta-btns-item">
        <button type="button" class="btn-right" 
        data-aos="fade-up">How it works</button>
      </li>
    </ul>
  </div>
</section>
