<!-- Upper footer -->
<footer class="footer">
  <div class="container">
    <div class="upper-footer menu-footer">
      <!-- Links as in the main navigation part 1 -->
      <ul class="footer__links-list left-links list">
        <li class="left-links__item">
          <a href="#" class="menu-footer__link link">home</a>
        </li>
        <li class="left-links__item">
          <a href="#" class="menu-footer__link link">about</a>
        </li>
      </ul>
      <!-- logo with active link -->
      <a href="#" class="logo-in-footer link">logo</a>
      <!-- Links as in the main navigation part 2 -->
      <ul class="footer__links-list right-links list">
        <li class="right-links__item">
          <a href="#" class="menu-footer__link link">service</a>
        </li>
        <li class="right-links__item">
          <a href="#" class="menu-footer__link link">blog</a>
        </li>
      </ul>
    </div>

    <!-- Lower footer -->
    <div class="footer-icon-wrapper">
      <ul class="list-icon-wrapper list">
        <li class="footer-item-icon">
          <a href="" class="footer-link-icon">
            <svg class="social-icon" width="40px" height="40px">
              <use href="./images/footer-icon.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="" class="footer-link-icon">
            <svg class="social-icon">
              <use href="./images/footer-icon.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="" class="footer-link-icon">
            <svg class="social-icon">
              <use href="./images/footer-icon.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="" class="footer-link-icon">
            <svg class="social-icon">
              <use href="./images/footer-icon.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="footer-item-icon">
          <a href="" class="footer-link-icon">
            <svg class="social-icon">
              <use href="./images/footer-icon.svg#icon-pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="lower-footer-text">
      <p class="copyrigth"><span>&#169;</span> 2010 — 2020</p>
      <a href=""> Privacy — Terms</a>
    </div>
  </div>
</footer>
