<header class="header">
  <div class="header-container">
    <div class="logo-wrap"><a href="#" class="logo link">logo</a></div>
    <nav class="navigation">
      <ul class="nav-list list">
        <li><a href="#" class="nav-link link">Home</a></li>
        <li><a href="#" class="nav-link link">About Us</a></li>
        <li><a href="#" class="nav-link link">Services</a></li>
        <li><a href="#" class="nav-link link">Blogs</a></li>
      </ul>
    </nav>
    <div class="btn-wrap">
      <button type="button" class="header-btn btn">Gift Finder</button>
    </div>
  </div>
</header>
