<header class="header">
  <div class="header-container container">
    <nav class="navigation">
      <a href="#" class="logo link">logo</a>
      <ul class="nav-list list">
        <li><a href="#" class="nav-link link">Home</a></li>
        <li><a href="#" class="nav-link link">About Us</a></li>
        <li><a href="#" class="nav-link link">Services</a></li>
        <li><a href="#" class="nav-link link">Blogs</a></li>
      </ul>
    </nav>
    <button type="button" class="header-btn btn">Gift Finder</button>
  </div>
</header>
