<!-- HERO -->
<section class="hero-section">
  <div class="hero-container">
    <div class="hero-left-part">
      <h1 class="hero-title">Find a gift for your wife or girlfriend</h1>
      <p class="hero-text">
        Struggling to find a gift for your wife or girlfriend? No problem!
      </p>
      <button class="hero-button" type="button">Find gift now</button>
    </div>
    <img class="hero-img img" src="./images/Hero.jpg" alt="Happy couple" width="719" height="700" />
  </div>
</section>
