<section class="work-section">
    <div class="work-container">
        <img src="./images/work.jpg" alt="thanks-card" width="721" height="593">
        <div class="work-content">
            <h2 class="work-heading">How we work</h2>
            <p class="work-text">We’ve actually already asked hundreds of women what they want, and made a database with the results. All you have to do is take our short survey that only takes seconds, and our proprietary algorithm will match you with a few perfect gift options.</p>
            <button class="work-button" type="button">Learn more</button>
        </div>
    </div>
</section>