<section class="posts">
  <div class="container posts-container">
    <h2 class="posts-title">Gifts for all Occasions</h2>
    <p class="posts-text text text--small">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="posts-list list">
      <li class="posts-item">
        <a class="posts-link link" href="">
          <picture>
            <source
              srcset="
                ./images/card-blog/card-blog-01@1x.webp 1x,
                ./images/card-blog/card-blog-01@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/card-blog/card-blog-01@1x.jpg 1x,
                ./images/card-blog/card-blog-01@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/card-blog/card-blog-01@1x.jpg"
              alt="Card blog 1"
              width="270"
              height="270"
              loading="lazy"
            />
          </picture>
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Birthday</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
      <li class="posts-item">
        <a class="posts-link link" href="">
          <picture>
            <source
              srcset="
                ./images/card-blog/card-blog-02@1x.webp 1x,
                ./images/card-blog/card-blog-02@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/card-blog/card-blog-02@1x.jpg 1x,
                ./images/card-blog/card-blog-02@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/card-blog/card-blog-02@1x.jpg"
              alt="Card blog 2"
              width="270"
              height="270"
              loading="lazy"
            />
          </picture>
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Anniversary</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
      <li class="posts-item">
        <a class="posts-link link" href="">
          <picture>
            <source
              srcset="
                ./images/card-blog/card-blog-03@1x.webp 1x,
                ./images/card-blog/card-blog-03@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/card-blog/card-blog-03@1x.jpg 1x,
                ./images/card-blog/card-blog-03@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/card-blog/card-blog-03@1x.jpg"
              alt="Card blog 3"
              width="270"
              height="270"
              loading="lazy"
            />
          </picture>
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Valentine's Day</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
      <li class="posts-item">
        <a class="posts-link link" href="">
          <picture>
            <source
              srcset="
                ./images/card-blog/card-blog-04@1x.webp 1x,
                ./images/card-blog/card-blog-04@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              srcset="
                ./images/card-blog/card-blog-04@1x.jpg 1x,
                ./images/card-blog/card-blog-04@2x.jpg 2x
              "
              type="image/jpg"
            />
            <img
              src="./images/card-blog/card-blog-04@1x.jpg"
              alt="Card blog 4"
              width="270"
              height="270"
              loading="lazy"
            />
          </picture>
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Christmas</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
