<section class="posts">
  <div class="container">
    <h2 class="posts-title">Gifts for all Occasions</h2>
    <p class="posts-text">
      “Try our web app to find the best gifts for all occasions”
    </p>
    <ul class="posts-list list">
      <li class="posts-item">
        <a class="posts-link link" href="">
          <img
            src="images\card-blog-1.jpg"
            alt="card blog"
            width="270"
            height="270"
          />
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Birthday</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
      <li class="posts-item">
        <a class="posts-link link" href="">
          <img
            src="images\card-blog-2.jpg"
            alt="card blog"
            width="270"
            height="270"
          />
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Anniversary</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
      <li class="posts-item">
        <a class="posts-link link" href="">
          <img
            src="images\card-blog-3.jpg"
            alt="card blog"
            width="270"
            height="270"
          />
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Valentine's Day</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
      <li class="posts-item">
        <a class="posts-link link" href="">
          <img
            src="images\card-blog-4.jpg"
            alt="card blog"
            width="270"
            height="270"
          />
          <div class="posts-wrappe">
            <h3 class="posts-subtitle">Christmas</h3>
            <p class="posts-wrappe-text">See More ›</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
