<!-- Upper footer -->
<footer class="footer">
  <div class="upper-footer">
    <!-- Links as in the main navigation part 1 -->
    <ul class="links-in-footer left-links list">
      <li>
        <a href="#" class="menu-link-in-footer link">home</a>
      </li>
      <li>
        <a href="#" class="menu-link-in-footer link">about</a>
      </li>
    </ul>

    <!-- logo with active link -->
    <a href="#" class="logo-in-footer link">logo</a>

    <!-- Links as in the main navigation part 2 -->
    <ul class="links-in-footer right-links list">
      <li>
        <a href="#" class="menu-link-in-footer link">service</a>
      </li>
      <li>
        <a href="#" class="menu-link-in-footer link">blog</a>
      </li>
    </ul>
  </div>

  <!-- Horizontal line -->
  <hr />

  <!-- Lower footer -->
</footer>
